<h1>About the Website</h1>


<div class="row home-row">
  <p>
    This is an example of a conversational bot on Ruby on Rails. Was created with
    <%= link_to('Rails Composer', 'http://railsapps.github.io/rails-composer/') %>
    from the
    <%= link_to('RailsApps project', 'http://railsapps.github.io/') %>.
  </p>

  <p>
    this is a simple bot application for a class project.if you want have any questions feel free to email at shihab.darkrider@gmail.com 
  </p>
</div>
